*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    line-height: 1.6;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

h1,
h2 {
    font-family: 'Playfair Display', serif;
    color: #282745;
    font-weight: 900;
    line-height: 1.2;
}

h1 {
    font-size: 40px;
}

.centered-heading {
    text-align: center;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 32px;
    color: #FFFFFF;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    width: 40vw;
    margin: 1em 0;
}

.bg-light-pinkish-grey > p {
    font-size: 18px;
    /* color: #282745; */
    color: black;
}

.bg-light-pinkish-grey {
    background-color: #E2DBDF;
}

.bg-light-grey {
    background-color: #F1F2F5;
    color: #282745;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-light-grey > h2 {
    color: #8C699F;
}

.split > p {
    color: #8C699F;
}

.dark-purple {
    background-color: #282745;
}

.light-purple {
    background-color: #BFAFC1;
}

Header {
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

Header,
section {
    padding: 3em;
    width: min(100%);
}

.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

img {
    width: 100%;
    height: 100%;
}

.img-wrapper {
    width: auto;
    height: auto;
}

@media (min-width: 500px) {
    section {
        display: flex;
        flex-direction: row;
        padding: 3em 0;
    }

    .img-wrapper {
        width: 40vw;
        height: 50vh;
    }
}